:root {
    --primary:#34421E;
    --secondary:#F1F1EF;
    --tertiary:#C19434;
}

body {
    background: var(--primary);
}

p {
    color: var(--secondary);
}

#main-nav {
    height: 575px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-color: var(--tertiary);
}

#nav-text {
    visibility: hidden;
    display: none;
    color: var(--tertiary);
}

#nav-icon {
    font-size: 30px;
    color: var(--tertiary);
}

#nav-icon:hover #nav-text {
    visibility: visible;
    display: block;
    font-size: large;
}

#nav-icon:hover {
    font-size: 50px;
}

#JMText {
    color: var(--tertiary);
}

#JMPortrait {
    width: 302px;
    height: 403px;
}

.card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    width: 300px;
}

#project-title {
    visibility: hidden;
    color: var(--tertiary);
}

#project-card:hover #project-title {
    visibility: visible;
}

#project-card:hover #project-image {
    opacity: 70%;
}